.center
  .phone
    .stats
      .signal
        span ● ● ● ○ ○
        i.wifi.material-icons wifi
          
      .time 00:00 AM
      
      .indicators
        .battery 100%

  .header Currencies
    
  #app
        
        
a(href="https://dribbble.com/shots/4223549-Crypto-app-UI" class="inspiration" target="_blank") inspiration

